version: 2.0

jobs:
  build:
    docker:
      - image: circleci/python:3.6.8-jessie
    working_directory: ~/circleci-illgong-workflows
    steps:
      - checkout
      - setup_remote_docker
        # docker_layer_caching: true

      # Trying resgtore_cache data about requirements file
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements/development.txt" }}
      # Install deps
      - run:
          name: Install python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements/development.txt
      # Save cache data
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements/development.txt" }}
          paths:
            - "venv"

      # Run testing
      - run:
          name: Run test code
          command: |
            . venv/bin/activate
            python manage.py test
      - store_artifacts:
          path: test-reports/
          destination: tr1
      - store_test_results:
          path: test-reports/

      # Build logic
      - run:
          name: Docker build image
          command: |
            docker build -t leensungzero/docker-test:"{CIRCLE_BRANCH}"-"${CIRCLE_BUILD_NUM}" .

      # Push docker image to dockerhub
      - run:
          name: Push image to dockerhub
          command: |
            docker login -u="$DOCKER_ID" -p="$DOCKER_PWD"
            docker push leensungzero/docker-test:"{CIRCLE_BRANCH}"-"${CIRCLE_BUILD_NUM}"

      # Setting ssh configuration
      - run:
          name: Fix ssh Cound not resolve hostname
          command: |
            ssh-keyscan 15.164.229.146 >> ~/.ssh/known_hosts
      - add_ssh_keys:
          fingerprints:
            - "f7:61:a1:9d:21:3e:f5:c6:a1:37:4c:fe:5d:b2:64:ad"

      # Deploy prod or dev project
      - run:
          name: Deploy master
          command: if [ "${CIRCLE_BRANCH}" == "master" ]; then ssh ubuntu@15.164.229.146 'cd /home/ubuntu/ && bash deploy.sh'; else echo "Skipped"; fi

workflows:
  version: 2
  build_test:
    jobs:
      - build