version: 2.0

jobs:
  build:
    docker:
      - image: circleci/python:3.6.8-jessie
    working_directory: ~/circleci-illgong-workflows
    steps:
      - checkout
      - setup_remote_docker
        # docker_layer_caching: true
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements/development.txt" }}
      - run:
          name: Install python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements/development.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements/development.txt" }}
          paths:
            - "venv"
      - run:
          command: |
            . venv/bin/activate
            python manage.py test
      - store_artifacts:
          path: test-reports/
          destination: tr1
      - store_test_results:
          path: test-reports/
      - run:
          name: Docker build
          command: |
            docker build -t leensungzero/docker-test:"${CIRCLE_BUILD_NUM}" .
      - run:
          name: Push image to dockerhub
          command: |
            docker login -u="$DOCKER_ID" -p="$DOCKER_PWD"
            docker push leensungzero/docker-test:"${CIRCLE_BUILD_NUM}"
      - run:
          name: Fix ssh Cound not resolve hostname
          command: |
            ssh-keyscan 15.165.160.215 >> ~/.ssh/known_hosts
      - add_ssh_keys:
          fingerprints:
            - "f7:61:a1:9d:21:3e:f5:c6:a1:37:4c:fe:5d:b2:64:ad"
      - run:
          name: Deploy master
          command: if [ "${CIRCLE_BRANCH}" == "master" ]; then ssh ubuntu@15.165.160.215 'cd && bash deploy.sh'; else echo "Skipped"; fi

workflows:
  version: 2
  build_test:
    jobs:
      - build