version: 2.0

jobs:
  build:
    docker:
      - image: circleci/python:3.6.8-jessie
        environment:
          SECRET_KEY: $SECRET_KEY
          DEFAULT_DB_ENGINE: $DEFAULT_DB_ENGINE
          DEFAULT_DB_USER: $DEFAULT_DB_USER
          DEFAULT_DB_HOST: $DEFAULT_DB_HOST
          DEFAULT_DB_NAME: $DEFAULT_DB_NAME
          DEFAULT_DB_PASSWORD: $DEFAULT_DB_PASSWORD
          DEFAULT_DB_PORT: $DEFAULT_DB_PORT
    working_directory: ~/circleci-illgong-workflows
    steps:
      - run:
          name: Print environment variables
          command: |
            echo $SECRET_KEY
            echo $DEFAULT_DB_ENGINE
            echo $DEFAULT_DB_USER
            echo $DEFAULT_DB_HOST
            echo $DEFAULT_DB_NAME
            echo $DEFAULT_DB_PASSWORD
            echo $DEFAULT_DB_PORT
      - checkout
      - setup_remote_docker
        # docker_layer_caching: true
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements/development.txt" }}
      - run:
          name: Install python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements/development.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements/development.txt" }}
          paths:
            - "venv"
      - run:
          command: |
            . venv/bin/activate
            python manage.py test
      - store_artifacts:
          path: test-reports/
          destination: tr1
      - store_test_results:
          path: test-reports/
      - run:
          name: Docker build
          command: >
            docker build -t leensungzero/docker-test:"${CIRCLE_BUILD_NUM}"
            -e DEFAULT_DB_ENGINE="${DEFAULT_DB_ENGINE}"
            -e DEFAULT_DB_HOST="${DEFAULT_DB_HOST}"
            -e DEFAULT_DB_NAME="${DEFAULT_DB_NAME}"
            -e DEFAULT_DB_PASSWORD="${DEFAULT_DB_PASSWORD}"
            -e DEFAULT_DB_PORT="${DEFAULT_DB_PORT}"
            -e DEFAULT_DB_USER="${DEFAULT_DB_USER}"
            -e SECRET_KEY="${SECRET_KEY}" .

workflows:
  version: 2
  build_test:
    jobs:
      - build